alembic==0.7.4
dataset==0.5.6
decorator==3.4.0
imageio==1.1
Mako==1.0.1
MarkupSafe==0.23
moviepy==0.2.2.8
numpy==1.9.1
oauthlib==0.7.2
psycopg2==2.6
python-slugify==0.1.0
pytube==0.2.0
PyYAML==3.11
requests==2.4.3
requests-oauthlib==0.4.1
six==1.7.3
SQLAlchemy==0.9.8
tqdm==1.0
tweepy==3.2.0
Unidecode==0.4.17
